services:

  # Postgres DB
  postgres:
    image: postgres:16
    container_name: postgres_db
    env_file:
      - .env.local      
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  # Redis DB
  redis:
    image: redis
    container_name: redis_db
    ports:
      - 6379:6379
    volumes:
      - redisdata:/data

  # Backend Application
  server:
    build:
      context: .
    container_name: url_shortener_backend
    env_file:
      - .env.local
    ports:
      - 3000:3000
      - 9229:9229 # Debugging port
    volumes:
      - ./:/usr/src/app
      # - node_modules:/usr/src/app/node_modules
    depends_on:
      - redis
      - postgres
      - alloy
    command: sleep infinity

  # Loki
  loki:
    image: grafana/loki:3.5.8
    container_name: loki
    ports:
      - 3100:3100
    command: -config.file=/etc/loki/config/loki-config.yml
    volumes:
      - ./observability/loki-config.yml:/etc/loki/config/loki-config.yml
      - loki-data:/loki
  
  # Grafana
  grafana:
    image: grafana/grafana:12.1
    ports:
      - 3001:3001
    env_file:
      - .env.local
    depends_on:
      - loki

  alloy:
    image: grafana/alloy:v1.11.3
    command: >
      run /etc/alloy/config.alloy
    volumes:
      - ./observability/config.alloy:/etc/alloy/config.alloy
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/log:/var/log:ro
    depends_on:
      - loki

  # Email Worker
  # email_worker:
  #   build: .
  #   container_name: email_worker
  #   command: npx tsx src/jobs/email/emailWorker.ts # Node >22
  #   depends_on:
  #     - redis

volumes:
  pgdata:
  redisdata:
  # node_modules:
  loki-data:
