server:
  http_listen_port: 3100

auth_enabled: false

distributor:
  ring:
    kvstore:
      store: inmemory

ingester:
  wal:
    dir: /loki/wal
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
  chunk_idle_period: 5m

schema_config:
  configs:
    - from: "2020-01-01"
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  filesystem:
    directory: /loki/chunks
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/boltdb-cache

compactor:
  working_directory: /loki/boltdb-compactor
  compactor_ring:
    kvstore:
      store: inmemory

limits_config:
  allow_structured_metadata: false
  reject_old_samples: true
  reject_old_samples_max_age: 168h  # 7 days

frontend:
  log_queries_longer_than: 5s
  compress_responses: true
